:root {
	--primery-text-color: #757575;
	--titel-text-color: #212121;
	--accent-color: #2196f3;
	--second-accent-color: #ffffff;
	--primery-bcg-color: #ffffff;
}
body {
	background-color: var(--primery-bcg-color);
	color: var(--primery-text-color);
	font-family: Roboto, sans-serif;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.section-titel,
.list-titel {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--titel-text-color);
}
span {
	display: inline-block;
}

/* Header */

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
	/* outline: 2px solid tomato; */
}
/* Логотип */
.logo {
	color: var(--titel-text-color);

	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	text-decoration: none;
}
.logo-accent {
	color: var(--accent-color);
}

/* Навігація */
.header {
	border-bottom: 1px solid #ECECEC;
}
.main-nav {
	display: flex;
	align-items: center;
	
}
.site-nav {
	display: flex;
	margin-left: 93px;
}
.site-nav .item:not(:last-child) {
	margin-right: 50px;
}
.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--titel-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}
.site-nav .link.current {
	color: var(--accent-color);
}
.contacts-list {
	display: flex;
	margin-left: auto;	
}
.contacts-list .item + .item {
	margin-left: 50px;	
}
.contacts-list .link {
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--primery-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	text-decoration: none;
}
.contacts-list a:hover,
.address-list a:hover,
.contacts-list a:focus,
.address-list a:focus {
	color: var(--accent-color);
}
/* Main index */
/* Герой */
.hero {	
	background-color: #2f303a;
	text-align: center;
}
.hero-titel {
	margin-top: 0;
	margin-bottom: 30px;	

	color: var(--second-accent-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 60px;	
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero-button {
	display: inline-block;
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 200px;
	border: none;

	background-color: var(--accent-color);
	color: var(--second-accent-color);

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.06em;
	text-align: center;

	cursor: pointer;
}
.hero-button:hover,
.hero-button:focus,
.hero-button:active {
	background-color: #188CE8;
	color: var(--second-accent-color);
}
/* Секції */
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.section-titel {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	text-align: center;
}
/* Переваги */
.benefits {
	padding-bottom: 0;
}
.benefits-list {
	display: flex;		
}
.benefits-list .item {
	width: 270px;
}
.benefits-list .item + .item {
	margin-right: 30px;
}
.benefits-list .list-titel {
	margin-bottom: 10px;

	color: var(--titel-text-color);

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.benefits-list .text {
	margin-top: 0;
	margin-bottom: 0px;

	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
/* Чи ми займаємось */
.do-list {
	display: flex;
}
.do-list .img {
	display: block;
}
.do-list .item + .item {
	margin-left: 30px;
}
/* Наша команда */
.team {
	background-color: #f5f4fa;
}
.team-list {
	display: flex;
	background-color: var(--primery-bcg-color);
}
.team-list .item + .item {
	margin-left: 30px;

}
.team-list .img {
	display: block;
	margin-bottom: 30px;
}
.team-list .list-titel {
	margin-bottom: 10px;
	
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-align: center;
}
.team-list .text {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 30px;

	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-align: center;	
}
/* Footer */
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	
	background-color: #2f303a;
}
.footer .logo {
	display: block;
	margin-bottom: 20px;
}
.address-list a {
	color: rgba(255, 255, 255, 0.6);

	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
		
	text-decoration: none;
}
.address-list .link {
	display: block;	
}
.address-list .item:not(:last-child) {
	margin-bottom: 9px;
}
.footer-logo,
.address-list .location {
	color: var(--second-accent-color);
}
/* Портфоліо */
.filter-list {
	display: flex;
	justify-content: center;
	padding-bottom: 16px;
	margin-bottom: 34px;
	
}
.filter-list .item + .item {
	margin-left: 8px;
}
.filter-list .button {
	display: block;
	padding: 6px 22px;
	border-radius: 4px;
		
	background-color: #f5f4fa;
	color: #212121;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	
	border: none;
	text-decoration: none;
}
.filter-list .button:hover,
.filter-list .button:focus,
.filter-list .button:active {
	background-color: #2196f3;
	color: #ffffff;
	cursor: pointer;
}

.work {
	display: flex;
	flex-wrap: wrap;
			
}
.work .img {
	display: block;	
}
.work .item {
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;	
}

.work .item:nth-child(3n) {
	margin-right: 0px;	
}
.work .item:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}
.work .list-titel {
	padding-top: 20px;
	padding-left: 24px;
	padding-right: 24px;
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	text-decoration: none;
}
.work .text {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 20px;

	color: var(--primery-text-color);

	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}
.border {
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;	
}
